@import "tailwindcss";

@font-face {
  font-family: "BakbakOne";
  src: url("./fonts/BakbakOne.ttf") format("truetype");

  font-display: swap;
}

:root {
  font-family: "BakbakOne", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #21e787;
  --color-secondary: #141b22;
  --color-primaryShadow: #00954d;
  --color-darkGradient: #01532b78;
  --shadow-primary: 2px 2px 8px var(--color-primaryShadow);
  --shadow-secondary: 0 0 10px rgba(255, 255, 255, 0.5);
  --shadow-social: 0 4px 15px var(--color-white);
  --text-shadow-lg: 0px 5px 8px rgba(255, 255, 255, 0.5);
  --radius-50: 50%;
  --animate-rightLeft: right_left_move 2s infinite linear alternate;
  --animate-rightLeft-4: right_left_move 4s infinite linear alternate;
  --font-verdana: Verdana, Geneva, Tahoma, sans-serif;
}

@layer utilities {
  .nav-wrapper {
    @apply px-6 py-4 lg:px-[15%] lg:py-0;
  }

  .section-wrapper {
    @apply px-6 py-[90px] lg:px-[15%];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }

  .bg-img {
    background-image: url("./assets/bs-section.jpg");
  }

  .bg-overlay {
    background: linear-gradient(270deg, #040b11, transparent);
  }

  .nav-swiper {
    --swiper-navigation-color: #21e787; /* رنگ پیش‌فرض */
    --swiper-navigation-size: 40px; /* اندازه فلش */
  }

  /* اگر می‌خوای حالت hover روی کل اسلایدر رنگ فلش سفید بشه */
  .nav-swiper:hover {
    --swiper-navigation-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #040b11;
  }
}

@keyframes right_left_move {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/* @media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
} */
