@import "tailwindcss";

@font-face {
  font-family: "BakbakOne";
  src: url("./fonts/BakbakOne.ttf") format("truetype");

  font-display: swap;
}

:root {
  font-family: "BakbakOne", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #21e787;
  --color-primaryShadow: #00954d;
  --shadow-primary: 2px 2px 8px var(--color-primaryShadow);
}

@layer components {
  .nav-wrapper {
    @apply xl:px-[12%] xl:py-0;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-start {
    @apply flex items-center justify-start;
  }

  .activeMenu {
    left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #040b11;
  }
}

/* @media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
} */
